
body { 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #797979;
    background: #eeeeee;
    font-family: helvetica;
}

button:focus {outline:0 !important;}

#graph { 
    background-repeat: no-repeat !important;
    overflow: hidden;
}

.de-container { 
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #ddd;
    border-top-color: transparent;
}

#results { 
    background: #FFFFFF;
}

.auto-width { 
    /* width: auto !important; */
}

.borderless { 
    border:none !important;
}

.padding-medium { 
    padding: 10px !important;
}

.bg-muted { 
    color: #4A4A4A;
    background: rgba(172, 172, 172, 0.51);
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
