
circle { 
    fill: #61A4C2;
    stroke: #141C25;
    stroke-width: 1;
    cursor: pointer;
}

.label { 
    font-family: arial;
    stroke: #000000;
    cursor: pointer;
}

line { 
    stroke: #A9A9A9;
    stroke-dasharray: 5,5;
    stroke-width: 2;
    cursor: pointer;
}

line.shortest { 
    stroke: #FF0000;
    stroke-dasharray: 5,1;
    stroke-width: 4;
}

text.line-label { 
    font-family: arial;
    stroke: #000000;
    cursor: pointer;
}
